@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body{
    background-color: #F5DEB3;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    height: 500px;
    width: 700px;
    margin: 0 auto;
}
h1{
    margin: 0 auto;
    text-align: center;
    padding-top: 10px;
    font-size: 50px;
    font-family: 'Press Start 2P', cursive;
    padding-bottom: 15px;
}
h3{
    font-size: 20px;
    font-style: bold;
    padding-left: 80px;
    padding-top: 20px;
    padding-bottom: 5px;
    margin: 0 auto;
    font-family: 'Press Start 2P', cursive;
    
}
img{
    padding-left: 4px;
    padding-bottom: 4px;
}
#message{
    font-style: italic;
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
    padding-bottom: 10px;
}
#result1{
    padding-bottom: 10px;
}
#butt{
    position: absolute;
    right: 100px;
    top: 90px;
}
button{
    position:relative;
    /* bottom: 40px; */
    margin-left: 80px;
    padding: 10px;
    font-style: bolder;
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
    border-radius: 10%;
    border: solid 2px black;
    box-shadow: 0 5px;
}
button:hover {
top: 2px;
box-shadow: 0 3px;
}
button:active {
top: 5px;
box-shadow: none;
}


   


